* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/*
*****
HEADER
*****
*/

.top {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  background-color: #ff6900;
  color: white;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 1px 2px black;
}

ul {
  list-style: none;
  font-size: 14px;
  font-weight: bold;
}

header li {
  display: inline-block;
  margin: 0 5px;
}

header a:link {
  text-decoration: none;
  color: white;
}

.boolean {
  height: 30px;
}

/*
*****
MAIN
*****
*/

main {
  max-width: 1380px;
  margin: 0 auto;
  padding-top: 60px;
}

.container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding-top: 65px;
  gap: 20px;
  text-align: center;
}

.box img {
  max-width: 440px;
  display: flex;
}

.box {
  max-width: 440px;
  position: relative;
}

.info {
  text-align: start;
  margin: 5px 0 55px;
}

.gender {
  font-size: 18px;
  font-weight: bold;
}

.red {
  color: red;
}

.line {
  text-decoration: line-through;
}

.sconto {
  position: absolute;
  top: 575px;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 13px;
  padding: 5px 10px;
}

.sostenibilità {
  position: absolute;
  top: 575px;
  background-color: #008000;
  color: white;
  font-weight: bold;
  font-size: 13px;
  padding: 5px 10px;
  right: 290px;
}

.sostenibilità1 {
  position: absolute;
  top: 575px;
  background-color: #008000;
  color: white;
  font-weight: bold;
  font-size: 13px;
  padding: 5px 10px;
}

.cuore {
  position: absolute;
  top: 12px;
  background-color: white;
  font-weight: bold;
  font-size: 13px;
  padding: 10px;
  right: 0;
}

.cuore:hover {
  color: red;
  font-size: 17px;
  cursor: pointer;
  background-color: rgb(248, 243, 236);
}

.yes:hover {
  opacity: 0;
}

.image {
  max-height: 640px;
}

.yes {
  position: absolute;
}

/*
*****
FOOTER
*/

.bottom {
  display: flex;
  justify-content: space-around;
  background-color: #1a1a1a;
  color: white;
  align-items: center;
  padding: 30px 0;
}

footer a:link {
  text-decoration: none;
  color: white;
}

footer li {
  display: inline-block;
  font-weight: 100;
  margin-top: 5px;
}
